{% extends 'base.html' %}  

{% block content %}


<style>

 html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
    }

table {
        border-collapse: collapse;
        width: 100%;
    
    }
    
    th, td {
        border: 1px solid black; 
        vertical-align: middle;
        padding: 0px;
    }
    
    th {
        background-color: rgb(118, 242, 10);
        
    }
    
    table thead th {
    white-space: normal;
    }
    
    .select2-container {
        width: 60% !important; 
    }
    
    .select2-container .select2-selection--single {
        width: 100% !important; 
    }
    
    .select2-dropdown {
        width: auto !important; 
    }
    
    .select2-search__field {
        width: 80% !important; 
    }
    
    .main-content {   
        overflow-y: auto;
        margin-left:0px;
        position: absolute;
        width: 100%;
        left: 0;
            }
    </style>


<div class="container-fluid">
    <div class="row">
        <div class="col-4 col-md-3">   
            <div class="card">     
            <a href="{% url 'inventory:create_warehouse' %}" class="btn btn-primary">Create Warehouse</a> 
        </div>
        </div>
        <div class="col-4 col-md-3">  
            <div class="card">     
                <a href="{% url 'inventory:create_location' %}" class="btn btn-primary">Create location</a> 
            </div> 
        </div>

     

        
        <div class="col-4 col-md-3">  
            <div class="card">     
                <a href="{% url 'inventory:create_transfer' %}" class="btn btn-primary">Create transfer</a> 
            </div> 
        </div>

        <div class="col-4 col-md-3">  
            <div class="card">     
                <a href="{% url 'inventory:transfer_order_list' %}" class="btn btn-primary">Transfer List</a> 
            </div> 
        </div>

            
        
    </div>
</div>
   





<!-- Bootstrap Modal for displaying Django message -->
<div class="modal fade" id="messageModal" tabindex="-1" aria-labelledby="messageModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="messageModalLabel">Messages</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="messagesContainer">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>



<script>
    // Show Django message modal if there are messages
    document.addEventListener("DOMContentLoaded", function() {
        const messageModal = document.getElementById('messageModal');
        if (messageModal && document.getElementById('messagesContainer').children.length > 0) {
            new bootstrap.Modal(messageModal).show();
        }
    });

</script>

{% endblock %}