{% extends 'base.html' %}  

{% block content %}




<div class="container-fluid">
    <div class="row">
        <div class="col-4 col-md-3">   
            <div class="card">     
            <a href="{% url 'manufacture:create_materials_request' %}" class="btn btn-primary">Create materials request</a> 
        </div>
        </div>
        <div class="col-4 col-md-3">  
            <div class="card">     
                <a href="{% url 'manufacture:materials_request_order_list' %}" class="btn btn-primary">Materials Request List</a> 
            </div> 
        </div>



        <div class="col-4 col-md-3">   
            <div class="card">     
            <a href="{% url 'manufacture:materials_order_item' %}" class="btn btn-primary">Search Item</a> 
        </div>
        </div>
       

        <div class="col-4 col-md-3">  
            <div class="card">     
                <a href="{% url 'manufacture:qc_dashboard' %}" class="btn btn-primary">QC dashboard</a> 
            </div> 
        </div>


    </div>
</div>






<!-- Bootstrap Modal for displaying Django message -->
<div class="modal fade" id="messageModal" tabindex="-1" aria-labelledby="messageModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="messageModalLabel">Messages</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="messagesContainer">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>



<script>
    // Show Django message modal if there are messages
    document.addEventListener("DOMContentLoaded", function() {
        const messageModal = document.getElementById('messageModal');
        if (messageModal && document.getElementById('messagesContainer').children.length > 0) {
            new bootstrap.Modal(messageModal).show();
        }
    });

</script>


    {% endblock %}

 