{% extends 'base.html' %}  

{% block content %}


<div class="container-fluid">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="card shadow" style="background-color: aliceblue;">
                <div class="card-body">
                    <h2>Login</h2>
                    <form method="post">
                        {% csrf_token %}
                        {{ form }}
                        <button class="btn btn-primary" type="submit">Login</button>
                    </form>
                    {% if messages %}
                        <ul>
                            {% for message in messages %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                
                
                    <h6 class="text-center" style="margin-top: 40px;">User authentication management<br>
                        <a href="{% url 'accounts:login' %}">loging</a>
                        <a href="{% url 'accounts:register' %}">register</a>
                     
                    </h6>
                
                
                </div>
            </div>

        </div>
        <div class="col-3"></div>
    </div>
</div>

<div style="height:800px"></div>







<!-- Bootstrap Modal for displaying Django message -->
<div class="modal fade" id="messageModal" tabindex="-1" aria-labelledby="messageModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="messageModalLabel">Messages</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="messagesContainer">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>



<script>
    // Show Django message modal if there are messages
    document.addEventListener("DOMContentLoaded", function() {
        const messageModal = document.getElementById('messageModal');
        if (messageModal && document.getElementById('messagesContainer').children.length > 0) {
            new bootstrap.Modal(messageModal).show();
        }
    });

</script>

    {% endblock %}
