
{% extends "base.html" %}
{% load static %}



{% block content %}

<style>


table {
    border-collapse: collapse;
    width: 100%;

}

th, td {
    border: 1px solid black; /* Set border color for individual cells */
    text-align: center;
    padding: 10px;
}

th {
    background-color: black;
    color:white;
}

table thead th {
white-space: normal;
}



</style>




<h4>Employee list</h4>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Designation</th>
            <th>Date of joining</th>

            <th>Create Pay slip</th>
            <th>Create salary certicate</th>
            <th>Create experience certificate</th>
         
           
        </tr>
    </thead>
    <tbody>
        {% for employee in employees %}
        <tr>
            <td>{{ employee.name }}</td>           
            <td>{{ employee.position }}</td>
            <td>{{ employee.joining_date }}</td>

            <td>
                <a href="{% url 'core:generate_pay_slip' employee.id %}">Click to create</a>
            </td>           
            <td>
                <a href="{% url 'core:generate_salary_certificate' employee.id %}">Click to create</a>
            </td> 
            <td>
                <a href="{% url 'core:generate_experience_certificate' employee.id %}">Click to create</a>
            </td> 
        </tr>
        {% endfor %}
    </tbody>
</table>


<h4 style="height:400px"></h4>


{% endblock %}