{% extends 'sub_base.html' %}

{% block content %}




<div class="container-fluid main-content">
    <div class="row">
        <div class="col-12 col-md-3"></div>
        <div class="col-12 col-md-6">
            <div class="card shadow" style="padding:10px;background-color:aliceblue;">
                <div class="card-body">
                    <h4 style="color:coral">Your Subscription has been expired</h4>
                    <h2 style="color:green;font-weight: bolder;">Renew Your Subscription</h2>
                    <p style="color:brown;font-weight: bolder;">Your current expiration date is: {{ tenant.expiration_date }}</p>
                                        
                        <form method="post">
                            {% csrf_token %}
                            <label for="extension_period" class="m-4">Choose Extension Period:</label>
                            <select name="extension_period" id="extension_period">
                                <option value="30">1 Month</option>
                                <option value="180">6 Months</option>
                                <option value="365">1 Year</option>
                            </select>

                            <button type="submit" id="submit-button" class="btn  btn-primary m-2">Pay and Renew</button>
                        </form>

                        {% if error_message %}
                            <div class="error">{{ error_message }}</div>
                        {% endif %}

                 </div>
            </div>           
        </div>
        <div class="col-12 col-md-3"></div>
    </div>
</div>

<div style="height:800px"></div>


{% endblock %}
