{% extends 'base.html' %}  

{% block content %}


<div class="container-fluid">
    <div class="row">
        <div class="col-4 col-md-3">   
            <div class="card">     
            <a href="{% url 'customer:create_customer' %}" class="btn btn-primary">Create Customer</a> 
        </div>
        </div>
        <div class="col-4 col-md-3">  
            <div class="card">     
                <a href="{% url 'customer:create_location' %}" class="btn btn-primary">Create location</a> 
            </div> 
        </div>

        <div class="col-4 col-md-3">  
            <div class="card">     
                <a href="{% url 'customer:customer_performance_list' %}" class="btn btn-primary">Performance</a> 
            </div> 
        </div>
    </div>
</div>

    {% endblock %}

 