{% extends 'base.html' %}  

{% load custom_filters %}

{% block content %}


<style>


 html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevents the body from horizontally scrolling */
    }

table {
        border-collapse: collapse;
        width: 100%;
    
    }
    
    th, td {
       
        vertical-align: middle;
        padding: 0px;
    }
    
    th {
        background-color: rgb(118, 242, 10);
        
    }
    
    table thead th {
    white-space: normal;
    }
    .table td{
        white-space: nowrap;
    }

    .select2-container {
        width: 60% !important; /* Ensure the container is 100% wide */
    }
    
    .select2-container .select2-selection--single {
        width: 100% !important; /* Ensure the selection area is also 100% wide */
    }
    
    .select2-dropdown {
        width: auto !important; 
    }
    
    .select2-search__field {
        width: 80% !important; 
    }
    
    .main-content {   
        overflow-y: auto;
        margin-left:0px;
        position: absolute;
        width: 100%;
        left: 0;
            }
    </style>



<div class="container-fluid main-content">
    <div class="row">    
        <div class="col-12">     
            <div class="container">
                <div class="row">
                    <div class="col-7">
                        <form method ="GET" action="">
                            <label for="id_sale_order_id"> Sale Order</label>
                             {{ form.sale_order_id }}
                            <button type="Submit" class="btn btn-primary">Search</button>                           
                        </form>           
                    </div>
                    <div class="col-5">                  
                        {% if sale_order %}
                            Search result for sale order: <b>{{ sale_order }}</b>
                            {% else %}
                        <span> ID does not match</span>
                        {% endif %}  
                    
                    </div>
                </div>
            </div>

        </div>      
        <hr class="mt-2">
        
        <div class="col">       

            <h4> Placed Sale orders</h4>
            <table class="table table-striped">
                <thead>
                    <tr class="btn-primary text-white">
                   
                        <th class="text-center p-2">Request Order Number</th>
                        <th class="text-center p-2">Sale Order Number</th>
                    
                        <th class="text-center p-2">Total amount</th> 
                                      
                        <th class="text-center p-2">Status</th>
                     

                        <th class="text-center p-2">Prepared by</th>

                        <th class="text-center p-2">Items requested</th>
                       

                        <th class="text-center p-2">Submission</th>
                        <th class="text-center p-2">Reviewed</th>
                        <th class="text-center p-2">Approval</th>

               
                        <th class="text-center p-2">Create shipment</th>
                        <th class="text-center p-2">Add child schedule</th>

                        <th class="text-center p-2">QC Dashboard</th>
                        
                        <th class="text-center p-2">Create Invoice</th>

                        <th class="text-center p-2">Make payment</th>
                        <th class="text-center p-2">Dispatch Item</th>
                        <th class="text-center p-2">Invoice</th>

                        <th class="text-center p-2">Upload signed invoice</th>
                        <th class="text-center p-2">Upload payment Doc</th>
                        <th class="text-center p-2">View invoice</th>
                        <th class="text-center p-2">View payment Doc</th>
                     
                    </tr>
                </thead>
                <tbody>
                    {% for order in page_obj %}
                        <tr>
                         
                            <td class="text-center p-1" style="white-space: nowrap;">{{ order.sale_request_order.order_id }}</td>
                            <td class="text-center p-1" style="white-space: nowrap;">{{ order.order_id }}</td>
                            
                            <td class="text-center p-2" style="white-space: nowrap;">{{order.total_amount|add_commas}}</td>
                                               
                           
                            <td> 
                                {% if order.is_full_delivered %} 
                                <strong><i class="fas fa-check" style="color:green">Delivered</i></strong>                        
                                 {% else %}                             
                                 <i class="fas fa-hourglass-half" style="color:rgb(235, 10, 29);">In Process</i>
                                 {% endif %}
                            </td>             
                           
                            <td class="text-center p-2" style="white-space: nowrap;">{{order.user}}</td>
                            <td class="text-center p-2" style="white-space: nowrap;">
                              <a href="{% url 'sales:sale_order_items' order.id%}">Requested items</a>
                            </td>
                            
                            <!-- Rquester Button -->
                            <td>
                                {% if order.approval_data %}
                                    {% with order.approval_data.requester as approval_data %}
                                        {% if approval_data %}

                                            {% if approval_data.status == 'SUBMITTED' %}
                                            <strong><i class="fas fa-check" style="color:green">Submitted</i></strong>
                                            {% elif approval_data.status == 'CANCELLED' %}
                                            <strong><i class="fas fa-times" style="color:red;"></i> Cancelled</strong>

                                            {% else %}
                                                <a href="{% url 'sales:process_sale_order' order.id %}" class="btn btn-primary">Submit Request</a>
                                            {% endif %}
                                        {% else %}
                                            <a href="{% url 'sales:process_sale_order' order.id %}" class="btn btn-primary">Submit Request</a>
                                        {% endif %}
                                    {% endwith %}
                                {% else %}
                                    <a href="{% url 'sales:process_sale_order' order.id %}" class="btn btn-primary">Submit Request</a>
                                {% endif %}
                            </td>                            
                        
                            <!-- Review Button -->
                            <td>
                            {% if order.requester_approval_status == 'CANCELLED' %}
                                <button class="btn btn-secondary" disabled>Cancelled</button>
                            {% elif order.requester_approval_status != 'SUBMITTED' %}
                                <button class="btn btn-secondary" disabled>Pending Actions</button>
                            {% else %}
                                <!-- Enable Approve Request button only if all conditions are met -->
                             {% if order.approval_data %}                          

                                 {% with order.approval_data.reviewer as approval_data %}
                                     {% if approval_data %}

                                            {% if approval_data.status == 'REVIEWED' %}
                                            <strong><i class="fas fa-check" style="color:green">Reviewed</i></strong>
                                            {% elif approval_data.status == 'CANCELLED' %}
                                            <strong><i class="fas fa-times" style="color:red;"></i> Cancelled</strong>

                                            {% else %}
                                                <a href="{% url 'sales:process_sale_order' order.id %}" class="btn btn-primary">Review Request</a>
                                            {% endif %}

                                        {% else %}
                                            <a href="{% url 'sales:process_sale_order' order.id %}" class="btn btn-primary">Review Request</a>
                                     {% endif %}
                                    {% endwith %}
                                {% else %}
                                    <a href="{% url 'sales:process_sale_order' order.id %}" class="btn btn-primary">Review Request</a>
                                {% endif %}
                                {% endif %}
                           
                            </td>     

                         <!-- Approver Button -->                                                
                        <td>
                            {% if order.requester_approval_status == 'CANCELLED' or order.reviewer_approval_status == 'CANCELLED' %}
                                <button class="btn btn-secondary" disabled>Cancelled</button>
                            {% elif order.requester_approval_status != 'SUBMITTED' or order.reviewer_approval_status != 'REVIEWED' %}
                                <button class="btn btn-secondary" disabled>Pending Actions</button>
                            {% else %}
                                <!-- Enable Approve Request button only if all conditions are met -->
                                {% if order.approval_data %}
                                    {% with order.approval_data.approver as approval_data %}
                                        {% if approval_data %}
                                            {% if approval_data.status == 'APPROVED' %}
                                                <strong><i class="fas fa-check" style="color:green">Approved</i></strong>
                                            {% elif approval_data.status == 'CANCELLED' %}
                                                <strong><i class="fas fa-times" style="color:red;"></i> Cancelled</strong>
                                            {% else %}
                                                <a href="{% url 'sales:process_sale_order' order.id %}" class="btn btn-primary">Approve Request</a>
                                            {% endif %}
                                        {% else %}
                                            <a href="{% url 'sales:process_sale_order' order.id %}" class="btn btn-primary">Approve Request</a>
                                        {% endif %}
                                    {% endwith %}
                                {% else %}
                                    <a href="{% url 'sales:process_sale_order' order.id %}" class="btn btn-primary">Approve Request</a>
                                {% endif %}
                            {% endif %}
                        </td>
                      





                            {% if not order.sale_shipment.first %}
                            <td class="text-center p-2" style="white-space: nowrap;">
                                <a href="{% url 'logistics:create_sale_shipment' order.id %}" class="btn btn-sm btn-primary">Create Shipment</a>
                            </td>
                            {% else %}
                            <td>
                                <i class="fas fa-check" style="color:green;font-weight: bold;">Completed</i>
                            </td>
                            {% endif %}                       
                           


                            {% with shipment=order.sale_shipment.first %}
                            {% if shipment %}
                                {% if shipment.is_fully_shipped %}
                                    <td><i class="fas fa-check" style="color:green;font-weight: bold;">All Scheduled</i></td>
                                {% else %}
                                    <td class="text-center p-2" style="white-space: nowrap;">
                                        <a href="{% url 'logistics:create_sale_dispatch_item' shipment.id %}" class="btn btn-sm btn-primary">Add child dispatch</a>
                                    </td>
                                {% endif %}
                            {% else %}
                                <td>Make shipment first</td>
                            {% endif %}
                        {% endwith %}                                                              
                                                  
                        
                        <td class="text-center p-2" style="white-space: nowrap;">
                            {% with sale_shipment=order.sale_shipment.first %}
                                {% if sale_shipment %}
                                    {% with dispatch_item=sale_shipment.sale_shipment_dispatch.first %}
                                        {% if dispatch_item and dispatch_item.status == 'DELIVERED' %}
                                            <span><i class="fas fa-check" style="color:green;font-weight: bold;">Completed</i> </span>
                                        {% else %}
                                            <a href="{% url 'sales:qc_dashboard_with_order' order.id %}" class="btn btn-sm btn-primary">QC Dashboard</a>
                                        {% endif %}
                                    {% endwith %}
                                {% else %}
                                    <span>No Shipment Found</span>
                                {% endif %}
                            {% endwith %}
                        </td>
                        
             
                                            
                                    <td class="text-center p-2" style="white-space: nowrap;">   
                                        
                                        {% with shipment=order.sale_shipment.first %}
                                        {% if shipment%}      
                                            {% if shipment.is_fully_invoiced  %} 
                                                <i class="fas fa-check" style="color:green;font-weight: bold;">Invoice submitted</i>
                                            {% else %}
                                                <a href="{% url 'finance:create_sale_invoice' shipment.id %}" class="btn btn-sm btn-primary">Create Invoice</a>
                                             {% endif %}
                                             {% else %}
                                             <span> Create shipment first</span>
                                             {% endif %}
                                        {% endwith %}
                                    </td>
                           
                        

                                    <td class="text-center p-2" style="white-space: nowrap;">
                                        {% with shipment=order.sale_shipment.first %}
                                            {% if shipment %}
                                                {% with invoice=shipment.sale_shipment_invoices.first %}
                                                    {% if invoice %}
                                                        {% with payment=invoice.sale_payment_invoice.first %}
                                                            {% if payment %}
                                                                {% if payment.is_fully_paid %}
                                                                    <span><i class="fas fa-check" style="color:green; font-weight: bold;">Fully Paid</i></span>
                                                                {% else %}
                                                                    <a href="{% url 'finance:create_sale_payment' invoice.id %}" class="btn btn-primary">Make Payment</a>
                                                                {% endif %}
                                                            {% else %}
                                                                <a href="{% url 'finance:create_sale_payment' invoice.id %}" class="btn btn-primary">Make Payment</a>
                                                            {% endif %}
                                                        {% endwith %}
                                                    {% else %}
                                                        <span> No invoice found</span>
                                                    {% endif %}
                                                {% endwith %}
                                            {% else %}
                                                <span> No shipment found</span>
                                            {% endif %}
                                        {% endwith %}
                                    </td>
                                    
                        
                                                       
                        <td><a href="{% url 'logistics:sale_dispatch_item_list' order.id %}"
                          >view dispatch Item</a>
                        </td>
                        <td>
                            {% with order.sale_shipment.first.sale_shipment_invoices.first as first_invoice %}
                                {% if first_invoice and first_invoice.status in 'SUBMITTED,FULLY_PAID,PARTIALLY_PAID' %}
                                    <a href="{% url 'finance:download_sale_invoice' order.id %}?mode=preview" target="_blank">Preview</a>|
                                    <a href="{% url 'finance:download_sale_invoice' order.id %}?mode=download">Download</a>
                                {% else %}
                                    <span>Invoice not submitted yet</span>
                                {% endif %}
                            {% endwith %}
                        </td>

                        
                       
                        <td>
                            {% if order.sale_shipment.first.sale_shipment_invoices.first %}
                            <a href="{% url 'finance:add_sale_invoice_attachment' order.sale_shipment.first.sale_shipment_invoices.first.id %}">Upload signed invoice</a>
                            {% else %}
                            <span> Invoice not createt yet</span>
                            {% endif %}
                        </td>

                        <td>
                            {% if order.has_payment_attachment %}
                            <a href="{% url 'finance:add_sale_payment_attachment' order.sale_shipment.first.sale_shipment_invoices.first.id %}">
                                Upload payment docs
                            </a>
                        {% else %}
                            <span>Payment not made yet</span>
                        {% endif %}
                        
                        
                        </td>



                        <td>
                            {% if order.sale_shipment.first.sale_shipment_invoices.first.sale_invoice_attachment.first.file.url %}
                                <a href="{{ order.sale_shipment.first.sale_shipment_invoices.first.sale_invoice_attachment.first.file.url }}" target="_blank">
                                    <img src="{{ order.sale_shipment.first.sale_shipment_invoices.first.sale_invoice_attachment.first.file.url }}" alt="Invoice Attachment" style="max-width: 50px; max-height: 30px;">
                                </a>
                            {% else %}
                                <span>No file</span>
                            {% endif %}
                        </td>
    
                        <td>
                            {% if order.sale_shipment.first.sale_shipment_invoices.first.sale_payment_attachment.first.file.url %}
                                <a href="{{ order.sale_shipment.first.sale_shipment_invoices.first.sale_payment_attachment.first.file.url }}" target="_blank">
                                    <img src="{{ order.sale_shipment.first.sale_shipment_invoices.first.sale_payment_attachment.first.file.url }}" alt="payment doc Attachment" style="max-width: 50px; max-height: 30px;">
                                </a>
                            {% else %}
                                <span>No file</span>
                            {% endif %}
                        </td>
                        

                   
                        </tr>
                    {% endfor %}
                </tbody>
            </table>




            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">next</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
</div>      








<div style="height:2000px"></div>







<!-- Bootstrap Modal for displaying Django message -->
<div class="modal fade" id="messageModal" tabindex="-1" aria-labelledby="messageModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="messageModalLabel">Messages</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="messagesContainer">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>








<script>
    $(document).ready(function() {
        $('#id_sale_order_id').select2({
            width: '70%',
            placeholder: 'Search sale order...',
            allowClear: true,
            ajax: {
                url: "{% url 'accounts:common_search' %}",  // Ensure this URL is correct
                dataType: 'json',
                delay: 250,
                data: function(params) {
                    return {
                        q: params.term
                    };
                },
                processResults: function(data) {
                    return {
                        results: $.map(data.results, function(item) {
                            return {
                                id: item.id,
                                text: item.text
                            };
                        })
                    };
                },
                cache: true
            },
            minimumInputLength: 1,
            placeholder: 'Search for sale order',
            allowClear: true
        });
    });


    document.addEventListener("DOMContentLoaded", function() {
        const messageModal = document.getElementById('messageModal');
        const messagesContainer = document.getElementById('messagesContainer');
        if (messageModal && messagesContainer && messagesContainer.children.length > 0) {
            const modalInstance = new bootstrap.Modal(messageModal);
            modalInstance.show();
            setTimeout(() => {
                    modalInstance.hide();
                }, 5000)
        }
    });
    </script>
    









{% endblock %}