{% extends 'base.html' %}  

{% block content %}


<style>


 html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevents the body from horizontally scrolling */
    }

table {
        border-collapse: collapse;
        width: 100%;
    
    }
    
    th, td {
       
        vertical-align: middle;
        padding: 0px;
    }
    
    th {
        background-color: rgb(118, 242, 10);
        
    }
    
    table thead th {
    white-space: normal;
    }

    .table th,td{
        text-align: center;
    }
    .table td {
        white-space: nowrap;
    }
    
   

.select2-container {
        width: 50% !important; /* Ensure the container is 100% wide */
    }  
    
.select2-search__field {
        width: 100% !important; 
    }  
.select2-container--default .select2-selection--single {
        border: 1px solid #ccc;
        border-radius: 4px;
        height: 38px;
        display: flex;
        align-items: center;
    }

    
.main-content {   
        overflow-y: auto;
        margin-left:0px;
        position: absolute;
        width: 100%;
        left: 0;
            }
    </style>



<div class="container-fluid main-content">
    <div class="row"> 
        <div class="col">
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <form method="GET" action="">    
                            <label for="id_purchase_request_order_id">Request Number</label>            
                            {{ form.purchase_request_order_id}}                
                        <button type="submit" class="btn btn-primary">Search</button>  
                        </form>
                    </div>
                    <div class="col-6">
                        {% if request_order %}
                        Result for Request order ID <b>:{{request_order }}</b>
                    {% else %}
                    <span>No matching result found</span>
                    {% endif %}   
                    </div>
                </div>
            </div>
        </div>
    
        <hr class="mt-2">
        
        <div class="col">       

            <h4>Requested Order list</h4>
            <table class="table table-striped">
                <thead>
                    <tr class="btn-primary text-white">
                   
                        <th class="text-center p-2">Order Number</th>                       
                        <th class="text-center p-2">Total amount</th>  

                        <th class="text-center p-2">Created at</th>                    
                        <th class="text-center p-2">Status</th>
                        <th class="text-center p-2">Requested by</th>
                        <th class="text-center p-2">Requested Items</th>

                        <th class="text-center p-2">Submission</th>
                        <th class="text-center p-2">Reviewed</th>
                        <th class="text-center p-2">Approval</th>

                        <th class="text-center p-2">Create Purchase Order</th>
                    </tr>
                </thead>
                <tbody>                

                 {% for order in page_obj %}
                <tr>
                                           
                    <td class="text-center p-1" style="white-space: nowrap;">{{ order.order_id }}</td>
                    <td class="text-center p-2" style="white-space: nowrap;">{{order.total_amount}}</td>                
                    <td class="text-center p-2" style="white-space: nowrap;">{{order.created_at}}</td>
                    
                 
                    <td class="text-center p-2" style="white-space: nowrap;">
                        {% if order.status == "DELIVERED" %}                       
                        <i class="fas fa-check" style="color:green;font-weight: bold;">{{order.get_status_display}}</i>
                        {% else %}
                        <span style="color:red;font-weight: bold;">In Process</span>
                        {% endif %}
                    </td>
                    <td class="text-center p-2" style="white-space: nowrap;">{{order.user}}</td>
                    <td class="text-center p-1" style="white-space: nowrap;">
                        <a href="{% url 'purchase:purchase_request_items' order.id %}">Items</a>
                    </td>  
                    
                            
                    <!-- Rquester Button -->
                    <td>
                        {% if order.approval_data %}
                            {% with order.approval_data.requester as approval_data %}
                                {% if approval_data %}

                                    {% if approval_data.status == 'SUBMITTED' %}
                                    <strong><i class="fas fa-check" style="color:green">Submitted</i></strong>
                                    {% elif approval_data.status == 'CANCELLED' %}
                                    <strong><i class="fas fa-times" style="color:red;"></i> Cancelled</strong>

                                    {% else %}
                                        <a href="{% url 'purchase:process_purchase_request' order.id %}" class="btn btn-primary">Submit Request</a>
                                    {% endif %}
                                {% else %}
                                    <a href="{% url 'purchase:process_purchase_request' order.id %}" class="btn btn-primary">Submit Request</a>
                                {% endif %}
                            {% endwith %}
                        {% else %}
                            <a href="{% url 'purchase:process_purchase_request' order.id %}" class="btn btn-primary">Submit Request</a>
                        {% endif %}
                    </td>                            
                        
                    <!-- Review Button -->
                    <td>
                    {% if order.requester_approval_status == 'CANCELLED' %}
                        <button class="btn btn-secondary" disabled>Cancelled</button>
                    {% elif order.requester_approval_status != 'SUBMITTED' %}
                        <button class="btn btn-secondary" disabled>Pending Actions</button>
                    {% else %}
                        <!-- Enable Approve Request button only if all conditions are met -->
                        {% if order.approval_data %}                          

                            {% with order.approval_data.reviewer as approval_data %}
                                {% if approval_data %}

                                    {% if approval_data.status == 'REVIEWED' %}
                                    <strong><i class="fas fa-check" style="color:green">Reviewed</i></strong>
                                    {% elif approval_data.status == 'CANCELLED' %}
                                    <strong><i class="fas fa-times" style="color:red;"></i> Cancelled</strong>

                                    {% else %}
                                        <a href="{% url 'purchase:process_purchase_request' order.id %}" class="btn btn-primary">Review Request</a>
                                    {% endif %}

                                {% else %}
                                    <a href="{% url 'purchase:process_purchase_request' order.id %}" class="btn btn-primary">Review Request</a>
                                {% endif %}
                            {% endwith %}
                        {% else %}
                            <a href="{% url 'purchase:process_purchase_request' order.id %}" class="btn btn-primary">Review Request</a>
                        {% endif %}
                        {% endif %}                    
                    </td>     

                        <!-- Approver Button -->                                                
                    <td>
                        {% if order.requester_approval_status == 'CANCELLED' or order.reviewer_approval_status == 'CANCELLED' %}
                            <button class="btn btn-secondary" disabled>Cancelled</button>
                        {% elif order.requester_approval_status != 'SUBMITTED' or order.reviewer_approval_status != 'REVIEWED' %}
                            <button class="btn btn-secondary" disabled>Pending Actions</button>
                        {% else %}
                            <!-- Enable Approve Request button only if all conditions are met -->
                            {% if order.approval_data %}
                                {% with order.approval_data.approver as approval_data %}
                                    {% if approval_data %}
                                        {% if approval_data.status == 'APPROVED' %}
                                            <strong><i class="fas fa-check" style="color:green">Approved</i></strong>
                                        {% elif approval_data.status == 'CANCELLED' %}
                                            <strong><i class="fas fa-times" style="color:red;"></i> Cancelled</strong>
                                        {% else %}
                                            <a href="{% url 'purchase:process_purchase_request' order.id %}" class="btn btn-primary">Approve Request</a>
                                        {% endif %}
                                    {% else %}
                                        <a href="{% url 'purchase:process_purchase_request' order.id %}" class="btn btn-primary">Approve Request</a>
                                    {% endif %}
                                {% endwith %}
                            {% else %}
                                <a href="{% url 'purchase:process_purchase_request' order.id %}" class="btn btn-primary">Approve Request</a>
                            {% endif %}
                        {% endif %}
                    </td>
                    
                            

                      {% if order.purchase_order_request_order.first %}
                      <td><strong><i class="fas fa-check" style="color:green">Order placed</i></strong></td>
                    
                      {% else %}
                    <td class="text-center p-2" style="white-space: nowrap;">
                    <a href="{% url 'purchase:create_purchase_order' order.id %}" class="btn btn-sm btn-primary">Create Purchase_order</a>
                    </td>
                     {% endif %}
                </tr>

                    {% endfor %}
                </tbody>
            </table>               
        </div>
         
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>

    
</div>      

<div style="height:2000px"></div>







<!-- Bootstrap Modal for displaying Django message -->
<div class="modal fade" id="messageModal" tabindex="-1" aria-labelledby="messageModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="messageModalLabel">Messages</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="messagesContainer">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>







<script>
  

    document.addEventListener("DOMContentLoaded", function() {
        const messageModal = document.getElementById('messageModal');
        if (messageModal) {
            const messagesContainer = document.getElementById('messagesContainer');
            if (messagesContainer && messagesContainer.children.length > 0) {
                const modalInstance = new bootstrap.Modal(messageModal);
                modalInstance.show();

                // Optional: Close the modal on hidden event for cleanup
                messageModal.addEventListener('hidden.bs.modal', function () {
                    modalInstance.dispose(); // Reset modal instance if needed
                });
            }
        }
    });



</script>



<script>
    $(document).ready(function() {
        $('#id_purchase_request_order_id').select2({
            width: '50%',
            placeholder: 'Search id...',
            allowClear: true,
            ajax: {
                url: "{% url 'accounts:common_search' %}",  // Ensure this URL is correct
                dataType: 'json',
                delay: 250,
                data: function(params) {
                    return {
                        q: params.term
                    };
                },
                processResults: function(data) {
                    return {
                        results: $.map(data.results, function(item) {
                            return {
                                id: item.id,
                                text: item.text
                            };
                        })
                    };
                },
                cache: true
            },
            minimumInputLength: 1,
            placeholder: 'Search for Purchase request order',
            allowClear: true
        });
    });



    </script>
    



{% endblock %}