{% extends "base.html" %}

{% block content %}


  
  

<div class="container-fluid">
  <div class="row">
   

    <div class="col-12 col-md-2"></div>
      <div class="col-12 col-md-8">
        <a href="{% url 'tasks:tasks_list' %}" class="btn btn-primary mb-4">Back to Task List</a>

      <div class="card shadow-lg border-0 rounded-lg">
         <!-- Card Header -->
         <div class="card-header bg-primary text-white text-center">
            <h3 class="mb-0"> Request for Time Extension</h3>
         </div>
        <div class="card-body p-4">
          <h4 class="p-2"> Current due datetime is: <span style="color:red;font-weight: bolder;">{{ task.due_datetime }}</span></h4>
          <h4 class="p-2">Requested date time Extension for Task: <span style="color:rgb(5, 24, 239);font-weight: bold;" >{{ task.title }}</span></h4>         
            <form method="post" enctype="multipart/form-data" action="{% url 'tasks:request_extension' task.id%}" id="add_category">
                {% csrf_token %} 
                {{ form.as_p }}

                <div class="d-grid">
                  <button type="submit" class="btn btn-primary btn-lg"> Submit</button>
              </div>
            </form>
            <p class="text-center">Note:The more you take time extension the more of your score will reduce</p>
        </div>
    </div>         
  </div>
  <div class="col-12 col-md-2"></div>

  </div>
</div>



<div style="height:800px"></div>



  
<!-- Bootstrap Modal for displaying Django message -->
<div class="modal fade" id="messageModal" tabindex="-1" aria-labelledby="messageModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="messageModalLabel">Messages</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" id="messagesContainer">
              {% for message in messages %}
                  <div class="alert alert-{{ message.tags }}">{{ message }}</div>
              {% endfor %}
          </div>
      </div>
  </div>
</div>



<script>
  // Show Django message modal if there are messages
  document.addEventListener("DOMContentLoaded", function() {
      const messageModal = document.getElementById('messageModal');
      if (messageModal && document.getElementById('messagesContainer').children.length > 0) {
          new bootstrap.Modal(messageModal).show();
      }
  });

</script>
{% endblock %}
